body {
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: white;
  font-family: 'Outfit', sans-serif;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  padding: 10px 5px 10px 5px;
  width: 260px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  border-radius: 10px;
  height: 250px;
  width: 250px;

}

h2 {
  margin-left: 1em;
  margin-right: 1em;
}

p{
  margin-left: 1em;
  margin-right: 1em;
}
